@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensuite tes styles personnalisés */
:root {
  --background: #fff;
  --foreground: #111;
}

@keyframes scrollStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 1000px;
  }
}

